body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border: 2px solid black;
  padding: 0 2.5%;
  align-items: center;
  margin-top: 0.5rem;
}

nav {
  margin-left: auto;
}

#nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  cursor: pointer;
  font-weight: bold;
}

#nav-list > li:nth-child(2) {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding: 0 8px;
  margin: 0 10px;
}

#date {
  text-align: right;
  font-weight: bold;
  padding-right: 2.5%;
}

.booklist {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 50%;
  max-height: 370px;
  overflow-y: auto;
  margin: auto;
  padding: 0;
}

h2 {
  text-align: center;
}

hr {
  margin-top: 20px;
  height: 2px;
  background: black;
}

.book-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid gray;
  margin: 0;
}

.book-item:nth-child(odd) {
  background: #e7e9eb;
}

.book-item:nth-child(even) {
  background: #fff;
}

.remove {
  align-self: center;
  margin-left: auto;
}

.add_book {
  width: fit-content;
  margin: 0 auto;
}

.book_input {
  display: block;
  margin: 0.5rem 0;
}

.add {
  display: block;
  margin-left: auto;
}

.author {
  padding-left: 0.25rem;
}

footer {
  border: 2px solid black;
  width: 90%;
  padding: 5px 2.5%;
  position: fixed;
  bottom: 4px;
  right: 2.5%;
  left: 2.5%;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.dn { display: none; }
.blue { color: blue; }
